body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{ margin:0; padding:0;}   
body{ font-size:12px;}
li{ list-style:none;}
img{ border:none;}
input,select,textarea{outline:none; padding:0;}
textarea{resize:none;}
a{ text-decoration:none;}
input{ border:none}
ul{ padding:0;}
/* 清浮动 */
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
  /*公用*/
.comman{ width:1000px; margin-left:auto; margin-right:auto;}
.hide{ display:none;}
.lf{ float:left}
.rit{ float:right}

